# Changing values in a List with indexes

In [7]:
list = ['Ram','Shyam','Ravi','Rajan','Suraj']
list[1] = 'Tanya'

In [8]:
list

['Ram', 'Tanya', 'Ravi', 'Rajan', 'Suraj']

In [9]:
list[2] = list[1]

In [10]:
list

['Ram', 'Tanya', 'Tanya', 'Rajan', 'Suraj']

In [11]:
list[-2] = 234567

In [12]:
list

['Ram', 'Tanya', 'Tanya', 234567, 'Suraj']

# List concatenation and replication

In [13]:
[10,20,30] + ['x','y','z']

[10, 20, 30, 'x', 'y', 'z']

In [14]:
['x','y','z']*4

['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z']

In [15]:
list = ['Ram','Shyam','Ravi','Rajan','Suraj']
del list[2]

In [16]:
list

['Ram', 'Shyam', 'Rajan', 'Suraj']

# Looping through multiple list with zip()

In [17]:
name = ['Peter','John','Helson','Jockey']
age = [12,18,25,28]
for n,a in zip(name,age):
    print('{} is {} years old'.format(n,a))

Peter is 12 years old
John is 18 years old
Helson is 25 years old
Jockey is 28 years old

In [18]:
name = ['Peter','John','Helson','Jockey']
name.index('Helson')

2

# Adding values to list with append() and insert()

In [19]:
l1 = ['Peter','John','Helson','Jockey']

In [20]:
l1.append('Bob')

In [21]:
l1

['Peter', 'John', 'Helson', 'Jockey', 'Bob']

In [22]:
l1.insert(1,'Prince')

In [23]:
l1

['Peter', 'Prince', 'John', 'Helson', 'Jockey', 'Bob']

# sorting the value in a list with sort() method

In [24]:
list = ['Ram','Shyam','Ravi','Rajan','Suraj']

In [25]:
list.sort()

In [26]:
list

['Rajan', 'Ram', 'Ravi', 'Shyam', 'Suraj']

In [27]:
l1 = ['Peter','John','Helson','Jockey']
l1.sort()

In [28]:
l1

['Helson', 'Jockey', 'John', 'Peter']

In [29]:
num = [2,6,8,5,9,11,1,33,7,9,7,6,2,54,22,78,31]
num.sort()

In [30]:
num

[1, 2, 2, 5, 6, 6, 7, 7, 8, 9, 9, 11, 22, 31, 33, 54, 78]

In [31]:
num.sort(reverse=True)

In [32]:
num

[78, 54, 33, 31, 22, 11, 9, 9, 8, 7, 7, 6, 6, 5, 2, 2, 1]

In [33]:
l1 = ['Peter','John','Helson','Jockey']
l1.sort(key=str.lower)

In [34]:
l1

['Helson', 'Jockey', 'John', 'Peter']

In [35]:
len(l1)

4